body{
    background-color: #c0c0c0;
}

.container{
    width: 70vw; 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto;
}

.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
